:root {
    --hvid: #fff;
    --cream: #F2EDE9;
    --grå: #D5D5D5;
    --mørkegrå: #858585;
    --lysegrå: #F7F7F7;
    --sort: #0000;
    --pastel: #D69592;
}

/*Mine to fonter jeg bruger på mine sidder*/
@font-face {
    font-family: YesevaOne;
    src: url(YesevaOne-Regular.ttf);
}

@font-face {
    font-family: Quicksand;
    src: url(Quicksand-VariableFont_wght.ttf);
}

/*Generalle ting om hele siden*/
* {
    padding: 0px;
    margin: 0px;
    font-family: Quicksand;
    box-sizing: border-box;
}

h2 {
    color: var(--pastel);
    font-family: YesevaOne;
}

/*style til header START*/
/*Generalle ting om header*/
header {
    background-color: var(--cream);
    height: 75px;
    width: 100%;
    position: relative;
}

/*Dropwon menuen på telefon*/
/*for at lave denne er denne kilde brugt https://www.youtube.com/watch?v=bO9qHAhXbVA*/
a {
    color: var(--sort);
}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: var(--grå);
    position: absolute;
    width: 100%;
    margin-top: 70px;
}

header ul a {
    display: block;
    padding: 20px;
    text-decoration: none;
}

header ul a:hover {
    background-color: var(--mørkegrå);
}

header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s;
}

header .menu_icon {
    padding: 28px 20px;
    position: relative;
    /*den her skal være relavtiv så vi på barnet kan bruge absalut og på den måde rykke rundt på tingene*/
    float: right;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 10px;
}

/*Styler de tre linjer de giver burgermenu iconet */
header .menu_icon .nav_icon {
    background-color: var(--mørkegrå);
    display: block;
    height: 3px;
    width: 20px;
    position: absolute;
}

header .menu_icon .nav_icon:before {
    background-color: var(--mørkegrå);
    content: ""; /*Man laver en tom content for at have noget at style på*/
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 5px;
}

header .menu_icon .nav_icon:after {
    background-color: var(--mørkegrå);
    content: "";/*Man laver en tom content for at have noget at style på*/
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    top: -5px;
}

header .menu_btn {
    display: none;
}

header .menu_btn:checked~.menu {
    max-height: 240px;
}
/*style af nav SLUT*/

/*Logo*/
.logo_image {
    float: left;
    display: block;
    height: 60px;
    width: auto;
    margin-right: 20px;
    padding-left: 10px;
    padding-top: 10px;
}
/*style til header SLUT*/

/*Style til forside START*/
/*style til introen på forsiden*/
/*Brønkrummesti START*/
.breadcrumb {
    margin-top: 10px;
}

.breadcrumb ul {
    margin: 0;
    padding: 10px 42px;
    list-style: none;
    display: flex;
}

.breadcrumb li {
    padding: 5px;
}
/*Brønkrummesti SLUT*/
/*style til introen slut*/

.intro_billede {
    width: 350px;
    margin-top: 200px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 0;
}

.intro_overskrift {
    text-align: center;
    font-weight: bold;
    margin-left: 60px;
    margin-right: 60px;
    color: black;
}

.text_intro {
    text-align: center;
    margin-bottom: 300px;
}

/*style til project smutvej*/
.project {
    background-color: var(--cream);
    padding: 50px;
}

.project_bilede {
    padding-left: 40px;
}

.dukke {
    width: 300px;
}

.tekst_project {
    background-color: var(--grå);
    padding: 30px;
    width: 300px;
}

.name_project {
    font-size: 30px;
    position: absolute;
}

/*style til smutvej SLUT*/

/*style på cv genvej START*/
.om_mig {
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 50px;
    background-color: var(--cream);
    text-align: left;
    width: 300px;
    height: 400px;
}

.name_cv {
    font-size: 30px;
    padding-top: 10px;
}

.desktop_intro {
    visibility: hidden;
}

.tekst_about_intro {
    padding-top: 10px;
    padding-bottom: 20px;
}

.school_img {
    padding-top: 100px;
    width: 300px;
    position: right;
    position: absolute;
    margin: 10px;
}

.tekst_projekt_intro {
    padding-top: 50px;
}

.læs_cv {
    padding-top: 50px;
    padding-left: 30px;
    text-decoration: none;
    color: black;
}

/*style genvej SLUT*/
/*Style til forside SLUT*/

/*Style til "about" START*/

.about_overskrift,
.education_overskrift,
.CV_overskrift {
    margin-top: 30px;
    padding-bottom: 10px;
    color: var(--pastel);
    font-weight: bold;
}

.about_me_text {
    background-color: var(--lysegrå);
    padding: 30px;
    margin-left: 50px;
}

.ME_billede {
    position: relative;
    width: 200px;
    margin-top: 10px;
}

.edu_text {
    background-color: var(--cream);
    margin-right: 50px;
    padding: 30px;
    padding-top: 10px;
    margin-top: 30px;
}

.cv_about {
    background-color: var(--grå);
    margin-top: 30px;
    padding: 30px;
    padding-bottom: 100px;
}

.skills_list {
    padding-left: 15px;
    padding-top: 20px;
}

.kanp {
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding-top: 20px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 100px;
    font-weight: bold;
    background-color: var(--hvid);
    border: 2px solid var(--lysegrå);
    box-shadow: 4px 4px var(--mørkegrå);
    cursor: pointer;
}
/*Style til "about" SLUT*/

/*Style project START*/
/*Indlednign på siden START*/
.overskrift_projekt {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.project_text {
    margin: 30px;
    display: block;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 100px;
    margin-top: 0px;
}
/*Indlednign på siden SLUT*/


.project_alle {
    display: flex;
    flex-direction: column;
}

.Skoleprojekter,
.Logos,
.Art {
    margin: 25px;
    padding: 30px;
}

.pro {
    color: var(--pastel);
    padding-bottom: 20px;
}

.dans_logo {
    width: 300px;
    text-align: center;
}

.Skoleprojekter {
    background-color: var(--cream);
    margin-left: 0;
}

.Logos {
    background-color: var(--lysegrå);
    margin-right: 0;
}

.Art {
    background-color: var(--grå);
    margin-left: 0;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
}
/*Style project SLUT*/

/*Undersider til projekt START*/
.overskrift {
    width: 300px;
    margin: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    margin-top: 50px;
}

.overskrift_logo {
    width: 190px;
    margin: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    margin-top: 50px;
}

.overskrift_logo_art {
    width: 150px;
    margin: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    margin-top: 50px;
}

.liste_adobe {
    margin-left: 20px;
}

.projekt1 {
    background-color: var(--cream);
    margin-left: 25px;
    margin-top: 30px;
    padding: 20px;
    padding-bottom: 40px;
}

.dans_billede,
.ultraklog_billede,
.Covid_art,
.baby_billede {
    width: 390px;
    display: block;
    margin-left: auto;
    margin-bottom: 60px;
}

.projekt2 {
    background-color: var(--cream);
    margin-right: 25px;
    margin-top: 30px;
    padding: 20px;
    padding-bottom: 40px;
}

.iværksætter_billede,
.malerfirma_billede,
.Micro_bit_billede,
.maler_billede {
    width: 390px;
    text-align: left;
    margin-bottom: 60px;
}

.projekt3 {
    background-color: var(--cream);
    margin-left: 25px;
    margin-top: 30px;
    padding: 20px;
    padding-bottom: 40px;
}

.projekt4 {
    background-color: var(--cream);
    margin-right: 25px;
    margin-top: 30px;
    padding: 20px;
    padding-bottom: 40px;
}

.video_ {
    width: 390px;
    height: 200px;
    margin-right: 0;
}
/*Undersider til projekt SLUT*/

/*Style contact START*/
.lets-talk {
    width: 300px;
    margin-top: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.talk_tekst {
    font-size: 60px;
    text-align: center;
    color: black;
}

.talk_small {
    text-align: center;
    font-size: 15px;
}

.kontakt_info {
    background-color: var(--cream);
    margin-top: 400px;
    padding: 30px;
    margin-right: 50px;
    padding-top: 50px;
    position: relative;
    padding-bottom: 300px;
    margin-bottom: 200px;
}

.kontakt_img {
    width: 300px;
    margin-bottom: 50px;
    position: absolute;
    right: 0;
    top: 1000px;
}

.mail_info {
    padding-bottom: 20px;
}
/*Style contact SLUT*/


/*Fotter start*/
footer {
    background-color: var(--grå);
    width: 100%;
    color: var(--hvid);
    margin-top: 100px;
    bottom: 0;
    height: 50px;
    clear: both;
    display: flex;
    justify-content: space-between;
}

.copyrigt {
    text-align: left;
    color: var(--hvid);
    padding-top: 15px;
    padding-left: 20px;
}

.sociale_medier {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    padding-right: 20px;
}

.mail_logo,
.facebook_logo,
.linkedin_logo {
    width: 25px;
    margin: 5px;
}
/*Footer slut*/

@media screen and (min-width: 720px) {
    /*Nav start*/
    header li {
        float: left;
    }

    header li a {
        padding: 20px 30px;
    }

    header .menu {
        clear: none;
        float: right;
        max-height: none;
        margin-left: 900px;
        margin-top: 10px;
    }

    header .menu_icon {
        display: none;
    }

    header ul {
        background-color: var(--cream);
        width: 400px;
    }
    /*Nav SLUT*/

    /*Forside START*/
    .intro_billede {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 700px;
        margin-top: 150px;
    }

    .intro_overskrift {
        font-size: 50px;
    }

    .tekst_cv {
        margin-right: 20px;
        width: 700px;
        padding: 50px;
        margin-left: 400px;
    }

    .om_mig {
        width: 600px;
        position: absolute;
        top: 850px;
        left: 200px;
    }

    .desktop_intro {
        visibility: inherit;
        width: 500px;
        height: 300px;
        background-color: var(--lysegrå);
        position: relative;
        padding: 100px;
        left: 400px;

    }

    .project {
        margin-top: 1000px;
    }
    /*Forside SLUT*/

    /* About start*/
    .about_me_text {
        margin-left: 600px;
        padding-bottom: 100px;
    }

    .about_text,
    .about_overskrift {
        padding-left: 100px;
    }

    .education_overskrift {
        margin-top: 30px;
        padding-bottom: 10px;
    }

    .edu_text {
        margin-right: 600px;
        padding-left: 100px;
        padding-bottom: 200px;
        padding-right: 100px;
    }

    .ME_billede {
        margin-left: 300px;
        margin-top: 70px;
    }

    .cv_about {
        margin-left: 600px;
        padding-bottom: 200px;
    }

    .project_text {
        text-align: center;
    }
    /* About SLUT*/

    /*Projects START*/
    .Skoleprojekter,
    .Logos,
    .Art {
        display: inline-block;
        width: 400px;
    }

    .project_alle {
        display: flex;
        flex-direction: row;
        margin-right: auto;
        margin-left: auto;
    }

    /*Projects SLUT*/

    /*style af undersiderne: schoolprojekts, logos og art START*/
    .dukke,
    .tekst_project {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 500px;
    }

    .project_all {
        display: flex;
        flex-direction: row;
    }

    .liste_adobe {
        margin-left: 20px;
    }

    .Skoleprojekter,
    .Logos,
    .Art {
        margin: 10px;
        margin-top: 20px;
        background-color: var(--cream);
    }

    .dekstop_tekst,
    .deskatop_tekst_covid,
    .microbit_kilde,
    .painting_desktop_tekst {
        display: block;
        padding-top: 20px;
    }

    .projekt1 {
        margin-right: 0px;
        padding-bottom: 100px;
        margin-right: 25px;
        padding-right: 800px;

    }

    .ultraklog_billede {
        width: 500px;
        position: absolute;
        right: 200px;
        top: 385px;
    }

    .Covid_art {
        width: 500px;
        position: absolute;
        right: 200px;
        top: 370px;
    }

    .dans_billede {
        width: 500px;
        position: absolute;
        right: 200px;
        top: 385px;
    }

    .projekt2 {
        margin-left: 25px;
        margin-right: 25px;
        padding-bottom: 150px;
        padding-right: 800px;
    }

    .malerfirma_billede {
        width: 500px;
        position: absolute;
        right: 200px;
        top: 790px;
    }

    .Micro_bit_billede {
        width: 500px;
        position: absolute;
        right: 200px;
        top: 750px;
    }

    .iværksætter_billede {
        width: 500px;
        position: absolute;
        right: 200px;
        top: 850px;
    }

    .projekt3 {
        margin-left: 25px;
        margin-right: 25px;
        padding-bottom: 175px;
        padding-right: 800px;
    }

    .baby_billede {
        width: 500px;
        position: absolute;
        right: 200px;
        top: 1150px;
    }

    .video_ {
        width: 500px;
        height: 300px;
        position: absolute;
        right: 200px;
        top: 1350px;
    }

    .projekt4 {
        margin-left: 25px;
        margin-right: 25px;
        padding-bottom: 175px;
        padding-right: 800px;
    }

    .maler_billede {
        width: 500px;
        position: absolute;
        right: 200px;
        top: 1570px;
    }
    /*style af undersiderne: schoolprojekts, logos og art slut*/

    .kontakt_info {
        margin-top: 420px;
        margin-left: 200px;
        margin-right: 500px;
    }

    .kontakt_img {
        margin-right: 500px;
    }

}

/*Media: desktop SLUT*/